<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/em-module.css">
</head>
<body>

  <div id="em-ticker" class="em-hp-live__container">
    <h3 class="em-hp-live__module-headline">
      UEFA EURO 2016 - Runde 
    </h3>
    <span id="round"></span>
    <div class="em-hp-live__section">live 1</div>
    <div class="em-hp-live__section">live 2</div>
    <div class="em-hp-live__section">live 3</div>
    {{lastModified}}
    <span>Some more Text</span>
    <p>{{round}}</p>
    <p>{{fixture[0].eventId}}</p>
  </div>

  <script type="text/javascript" src="../js/em-hp-module.js"></script>
</body>
</html>